<div div class="registration-success" role="alert" aria-live="polite">
    <h3>
        Registration Successful (&gt;_&lt;)
    </h3>
    <h4>
        <a href="/admin" class="button-link">Please sign in</a>
    </h4>
</div>