<!-- Admin Header Partial -->
<header class="header">
    <a href="/dashboard" class="header__logo">Admin Panel</a>
    <nav class="header__nav">
        <ul>
            <li>
                <a href="/" class="">Home</a>
            </li>
            <li>
                <a href="/about" class="">About</a>
            </li>
            <li>
                <a href="/contact" class="">Contact</a>
            </li>
            <% if (isUserLoggedIn) { %>
                <li>
                    <a href="/admin/user/<%= currentUser.username %>" target="_blank">My profile</a>
                </li>             
            <% } %>
            <% if (isWebMaster) { %>
                <li>
                    <a href="/admin/webmaster" target="_blank">Webmaster</a>
                </li>
                <% } %>
        </ul>
    </nav>
    <div class="header__button">
        <% if (isUserLoggedIn) { %>
            <form action="/logout" method="post" style="display: inline-block; margin-right: 10px;">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <input type="submit" value="Logout" class="btn" style="font-size: 0.9rem; padding: 12px 24px;">
            </form>
        <% } %>
        <!-- Theme toggle button -->
        <button id="themeToggle" aria-label="Toggle theme">
        <svg class="sun-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
            stroke-width="2">
            <circle cx="12" cy="12" r="5" />
            <line x1="12" y1="1" x2="12" y2="3" />
            <line x1="12" y1="21" x2="12" y2="23" />
            <line x1="4.22" y1="4.22" x2="5.64" y2="5.64" />
            <line x1="18.36" y1="18.36" x2="19.78" y2="19.78" />
            <line x1="1" y1="12" x2="3" y2="12" />
            <line x1="21" y1="12" x2="23" y2="12" />
            <line x1="4.22" y1="19.78" x2="5.64" y2="18.36" />
            <line x1="18.36" y1="5.64" x2="19.78" y2="4.22" />
        </svg>
        <svg class="moon-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
            stroke-width="2" style="display: none;">
        <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z" />
        </svg>
        </button>
    </div>

</header>