#Sysyem Config
MONGO_DB_URI={{MongoDB Connect URL}} #Required
PORT= #Optional, defaults to 5000
JWT_SECRET=your-default-jwt-secrets #Required
SESSION_SECRET=your-secure-session-secret #Required
NODE_ENV=dev-local #Defaults to dev-local use production in production scenario
DEFAULT_POST_THUMBNAIL_LINK=/img/placeholder.webp #Keep it as is

#Post Size limits
MAX_TITLE_LENGTH=100
MAX_DESCRIPTION_LENGTH=10000
MAX_BODY_LENGTH=100000
MAX_NAME_LENGTH=20
MAX_COMMENTS_LIMIT=20
TRACKING_SCRIPT_ERROR_MSG=<!--Invalid Tracking script, check with Developer--> #Keep it as it is

## Post Caching config
POST_CACHE_MAX_SIZE=2 #defaults to 100
POST_CACHE_TTL=3600  #defaults to 3600 mins
POST_HIT_RESET_INTERVAL_HOURS=24 #defaults to 24 hours.

#AI Summery bot
OPENROUTER_API_KEY=Secret Key for AI Integration (Must be OpenAI SDK compatible) #Optional OpenAI or OpenRouter Secret Key for AI Integration
SYSTEM_PROMPT=You are an assistant editor that summarizes the blogpost body in  #Required if AI Integration is enabled.
USER_PROMPT=Summarize the following blog written in Markdown (Absolutely limit your response to #Required
USER_PROMPT_2=characters) do not add character/word count in the response. #Required
LLM_MODEL=gemma3:4b #Required AI Model # Required if AI I switched on
LLM_BASE_URL=AI API URL #'https://openrouter.ai/api/v1'