<div class="container mt-5">
    <main>
        <section>
            <h1>500 - Internal Server Error (  •̀⤙•́  )</h1>
            <p>Sorry, The Webmaster made a doo-doo and the page configuration is now all messed up. Hopefully they will fix that soon.</p>
            <br>
            <a href="https://social.mtdv.me/videos/animals-beings-bros" class="btn btn-primary" role="button" aria-label="Random video">Click for<br>Random wholesome video</a>
        </section>
    </main>
</div>