<div class="author">
    <h1 class="author__heading">Kon'nichiwa, I am Rak!</h1>
    <p class="author__body">I am a software developer, currenty employed at IBM</p>
</div>
<img src="/img/placeholder.webp" alt="placeholder image" class="hero-image" width="981" height="528"> 

<section class="articles">
    <h2 class="articles__heading">
        Latest Posts
    </h2>

    <ul class="article-ul">
        <li>
            <a href="#">
                <span>Post Title</span>
                <span class="article-list__date">Date</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span>Post Title</span>
                <span class="article-list__date">Date</span>
            </a>
        </li>
    </ul>
    <a href="#" class="pagination">&lt; View older posts</a>
</section>
